
	<div class="col-sm-8">
		<h3>Our Users !</h3>
		<p>We currently have @ Registered Users</p>

		<br>

		<h3>Home</h3>
		<p>Just A template</p>
	</div>	

	<div class="col-sm-4">

		<h3>Login/Register</h3><hr>
		<form>
			<h5>Username:</h5> <input type="text" name="username" ng-model="username">
			<h5>Password:</h5> <input type="password" name="password" ng-model="password">
		</form>

		<button class="btn btn-info">Log In</button> <br>
		<button class="btn btn-info">Register</button>
		<button class="btn btn-danger">Forgot Password</button>

		
	</div>