<div class="container-fluid">

		<div class="col-sm-8">

			<h3>User Registeration</h3>

			<form>
				
			<h5>Username: *</h5><input type="text" name="username">
			<h5>Password: *</h5><input type="password" name="password">
			<h5>Password Again: *</h5><input type="password" name="password_again">
			<h5>First Name: *</h5><input type="text" name="firstname">
			<h5>Last Name: *</h5><input type="text" name="lastname">
			<h5>E-mail: *</h5><input type="email" name="email"><br>
			<button type="submit" name="Submit" class="btn btn-success">Register</button>

			</form>
			
		</div>



		<div class="col-sm-4">
				<h3>Our Users !</h3>
				<p>We currently have @ Registered Users</p>

				<br>

				<h3>Home</h3>
				<p>Just A template</p>
		</div>	

</div>

